{
	on_demand_tls {
		ask "http://backend:2000/api/v1/tls"
	}
	email {$ACME_EMAIL}
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{$DOMAIN}, www.{$DOMAIN} {
	handle_path /api* {
		reverse_proxy http://backend:3000
	}

	root * /srv/www
	file_server
}

cdn.{$DOMAIN} {
	reverse_proxy http://minio:9000
}

*.{$STORE_SUFFIX} {
	handle_path /api* {
		reverse_proxy http://backend:3000
	}

	handle {
		reverse_proxy http://varnish:6080
	}
}

*.{$DOMAIN} {
	redir https://{$DOMAIN}
}

https:// {
	tls {
		on_demand
	}

	handle_path /api* {
		reverse_proxy http://backend:3000
	}

	handle {
		reverse_proxy http://varnish:6080
	}
}
