{
  debug
  log {
    level INFO
  }

  on_demand_tls {
    ask "http://127.0.0.1:3000/should-issue"
  }
}

*.mystore.localhost {
  reverse_proxy http://127.0.0.1:3000
}

*.localhost {
  respond "404 not found" 404 {
    close
  }
}

localhost {
  @api path /api*
  reverse_proxy @api http://127.0.0.1:3000

  @front not path /api*
  reverse_proxy @front http://127.0.0.1:4321
}

https:// {
  tls internal {
    on_demand
  }
  reverse_proxy http://127.0.0.1:3000
}
