---
import Base from "./Base.astro";
let { title } = Astro.props;
---

<Base title={title}>
  <main>
    <slot />
  </main>
</Base>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
  }
</style>
