---
import "@/styles/globals.css";
---

<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Benxo</title>
        <script>
            const mql = window.matchMedia("(prefers-color-scheme: dark)");

            function updateTheme() {
                document.body.classList.toggle("dark", mql.matches);
                document.body.classList.toggle("light", !mql.matches);
            }

            mql.addEventListener("change", updateTheme);
            document.addEventListener("DOMContentLoaded", updateTheme);
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
