---
import CenterLayout from "../layouts/CenterLayout.astro";
import Card from "../components/Card.svelte";
import RegisterForm from "../components/RegisterForm.svelte";
import CheckAuth from "../components/CheckAuth.svelte";
---

<CenterLayout title="Register">
  <CheckAuth client:load isAuth={false} redirect="/mystore">
    <Card>
      <h1>Register</h1>
      <RegisterForm client:only />
      <p>Already have an account? <a href="/login">Login here</a></p>
    </Card>
  </CheckAuth>
</CenterLayout>
