---
import CenterLayout from "../layouts/CenterLayout.astro";
import Card from "../components/Card.astro";
import RegisterForm from "../components/RegisterForm.svelte";
---

<CenterLayout>
  <Card>
    <h1>Register</h1>
    <RegisterForm client:visible />
    <p>Already have an account? <a href="/login">Login here</a></p>
  </Card>
</CenterLayout>
